/* Colors:
	Pink: #FF4E50
	Green: #18D4CA
	Orange: #FFA710
	Purple: #667DF3
	Dark Grey (Headings): #444444
	Grey: #666666 
*/

:root {
	--pink: #ff4e50;
	--green: #18d4ca;
	--orange: #ffa710;
	--purple: #667df3;
	--dark-grey: #444444;
	--grey: #666666;
}

/* Typography */
body {
	color: var(--grey) !important;
}

body,
h4,
h5,
h6 {
	font-family: "Roboto", sans-serif;
	color: var(--dark-grey);
}

h1,
h2,
h3 {
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-size: 3rem;
	font-weight: 600;
}
h4 {
	font-weight: 300;
}
h2 {
	font-weight: 600;
	font-size: 1.5rem;
}

/* Misc Styles */

.bg-pink {
	background-color: var(--pink) !important;
}

.bg-green {
	background-color: var(--green) !important;
}

.bg-orange {
	background-color: var(--orange) !important;
}

.bg-purple {
	background-color: var(--purple) !important;
}

.justify-flex-end {
	justify-content: flex-end;
}

.btn {
	transition: 0.5s all;
	border-radius: 50px !important;
	padding: 0.3rem 1.5rem;
	background-color: var(--pink);
	color: white !important;
}

.btn:hover {
	transition: 0.5s all;
	cursor: pointer;
	background-color: white;
	color: var(--pink) !important;
}

.btn-outlined,
.nav-scrolled .btn {
	transition: 0.5s all;
	background-color: white;
	color: var(--pink) !important;
	border: 2px solid var(--pink);
}

.nav-link{
	transition: .2s all;
}

.nav-link:hover{
	transform: scale(1.1);
	transition: .2s all;
}

.btn-outlined:hover {
	transition: 0.5s all;
	background-color: var(--pink);
	color: white !important;
	border: 2px solid var(--pink);
}

/* Navbar */

#navbarSupportedContent {
	width: 100%;
}

.navbar-nav {
	width: 55%;
	justify-content: space-between;
}

#navbarSupportedContent > ul > li > a {
	color: white !important;
}

.navbar {
	padding: 2rem 10rem;
	color: white;
}

.nav-scrolled {
	background-color: var(--pink);
	height: 40px;
	transition: 0.5s all;
}

.nav-scrolled .navbar-toggler {
	margin-top: -20px;
}

.navbar-toggler{
	border: none !important;
}

@media only screen and (max-width: 992px) {
	.navbar-nav {
		width: 100%;
		background-color: var(--pink);
		text-align: center;
	} 
	.navbar-nav li{
		margin-top: .5rem;
	}
	.nav-scrolled .navbar-brand {
		margin-top: -15px;
	}
	.navbar{
		padding: 2rem 2rem; 
	}
}


/* Header */

.head-container {
	background: url("../assets/headerBackground.jpg");
	background-size: cover;
	color: white;
	height: 75vh;
}

.heading {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sub-image {
	border: 3px solid white;
	bottom: -10px;
	right: 20px;
}

/* Gallery */

.gallery-img {
	border-radius: 5px;
	width: 100%;
}

.gallery-img-wrapper {
	position: relative;
}

.gallery-img-text {
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
}

.gallery-img-text > p {
	font-size: 1.5rem;
	color: white;
	font-weight: 600;
}

.width-190 {
	width: 190px;
	min-width:190px;
	max-width: 190px;
}

.gutter-1 > [class*="col-"] {
	padding: 8px !important;
}

.gallery-img-wrapper:hover .gallery-img-text p{
	transition: .5s all;
	color: black;
}

.divider {
	height: 3px;
	background-color: var(--pink);
	width: 90%;
	margin: 0px auto;
}

/* footer */

.footer-menu > ul {
	list-style: none;
	padding: 0px;
}

footer .logo {
	color: var(--pink) !important;
	text-transform: uppercase;
}

.footer-menu > ul > li {
	padding: 5px 0px;
}

.footer-menu > ul > li > a {
	transition: 0.5s all;
	font-size: 0.8rem;
	color: rgba(102, 102, 102, 0.6);
}

.footer-menu > ul > li > a:hover {
	transition: 0.5s all;
	color: var(--pink);
	text-decoration: none;
}

@media only screen and (max-width: 768px) {
	.gallery-img {
		height: 250px;
		width: 250px;
	}
}

.airplane{
	transform: rotate(-30deg)
}