/* Colors:
	Pink: #FF4E50
	Green: #18D4CA
	Orange: #FFA710
	Purple: #667DF3
	Dark Grey (Headings): #444444
	Grey: #666666 
*/

:root {
	--pink: #ff4e50;
	--green: ;
	--orange: ;
	--purple: ;
	--dark-grey: ;
	--grey: ;
}

/* Typography */
body,
h4,
h5,
h6 {
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
	font-family: "Montserrat", sans-serif;
}

h1 {
	font-size: 3rem;
	font-weight: 600;
}
h4 {
	font-weight: 300;
}
h2 {
	font-weight: 600;
	font-size: 1.5rem;
}

.head-container {
	background: url("../assets/headerBackground.jpg");
	background-size: cover;
	color: white;
	height: 75vh;
}

#navbarSupportedContent {
	width: 100%;
}

.navbar-nav {
	width: 55%;
	justify-content: space-between;
}

#navbarSupportedContent > ul > li > a {
	color: white !important;
}

.navbar {
	padding: 2rem 10rem;
	color: white;
}

.heading {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.justify-flex-end {
	justify-content: flex-end;
}

.btn {
	border-radius: 50px !important;
	padding: 0.3rem 1.5rem;
	background-color: var(--pink);
	color: white !important;
}

.btn:hover {
	cursor: pointer;
	background-color: white;
	color: var(--pink) !important;
}

.sub-image {
	border: 3px solid white;
	bottom: 0px;
	right: 20%;
}

.gallery-img {
	border-radius: 3px;
	width: 100%;
	/* height: 100%; */
}

.gallery-img-wrapper {
	position: relative;
	/* height: 350px; */
}

.gallery-img-text {
	position: absolute;
	top: 45%;
	left: 0;
	width: 100%;
}

.width-210 {
	min-width: 190px;
	max-width: 210px;
}

.gutter-1 > [class*="col-"] {
	padding: 8px !important;
}

.divider {
	height: 2px;
	background-color: green;
	width: 90%;
	margin: 0px auto;
}

.footer-menu > ul {
	list-style: none;
	padding: 0px;
}

.footer-menu > ul > li {
}

@media only screen and (max-width: 768px) {
	.gallery-img {
		height: 250px;
		width: 250px;
	}
}
